<div>
    <H3>Look at all those tasty dishes!</H3>
    <table class="table table-striped w-100">
        <thead>
            <tr>
                <th>Name</th>
                <th>Chef</th>
                <th>Tastiness</th>
                <th>Calories</th>
            </tr>      
        </thead>
        <tbody>
            @foreach (Dish dish in Model)
            {
                <tr>
                    <td>@dish.DishName</td>
                    <td>@dish.Creator.FirstName @dish.Creator.LastName</td>
                    <td>@dish.Tastiness</td>
                    <td>@dish.Calories</td>
                </tr>
            }
        </tbody>
    </table>
</div>